<h2 mat-dialog-title>New User</h2><br />
<mat-dialog-content>
    <form [formGroup]="userForm" (ngSubmit)="createUser()" class="form-grid">
        <mat-form-field appearance="outline" class="grid-item">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-item">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-item">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-item">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-item">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-item">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required />
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
                Create User
            </button>
            <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</mat-dialog-content>